div.menu {
    @media (min-width: 480px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: space-around;
        div.target {
            display: none;
        }
        div.items {
            display: none;
        }
        div.expand {
            display: flex;
            flex-direction: column;
            div.items {
                display: inline;
                position: absolute;
                span.item {
                    display: block;
                    background: blue;
                    width: 300%;
                }
            }
        }
        background:linear-gradient(lightblue, lightgreen);
    }

    @media (max-width: 480px) {
        >div{
            display: none;  v 
        }
        >div.target{
            display: block;
            background: red;
            width: 25px;
            height: 25px
        }
        &.expand {
            >div{
                display:block
            }
            div.title{
                display: block;
            }
            div.items {
                display: none;
            }
            div.expand {
                display: flex;
                flex-direction: column;
                div.items {
                    display: inline;
                    span.item {
                        display: block;
                        background: blue;
                    }
                }
            }
    
        }
    }
}