@background-primary : red;
@background-secondary :lightblue;
@theme-font: arial;
@break-width: 600px;
@base-font-size : 15pt;
.headingStyles(@font, @size, @op) {
    font-family: @font;
    font-size: @size;
    font-weight: bold;
    color: rgba(78, 8, 115, @op);
}

.gridplacement(@cs, @ce, @rs, @re) {
    grid-column-start: @cs;
    grid-column-end: @ce;
    grid-row-start: @rs;
    grid-row-end: @re;
}

body {
    display: grid;
    @media(min-width: @break-width) {
        grid-template-columns: 3em repeat(2, 1fr);
        grid-template-rows: 3em 15em 25em;
    }
    @media(max-width: @break-width) {
        grid-template-columns: 1fr;
        grid-template-rows: 2em (@base-font-size *1.2);
    }
    >.heading {
        @media (min-width: @break-width) {
            writing-mode: vertical-rl;
            text-orientation: upright;
            background: linear-gradient(-75deg, white, @background-primary);
            .headingStyles(@theme-font, 20pt, 0.45);
            .gridplacement(1, 2, 1, 4);
        }
        @media (max-width: @break-width) {
            .headingStyles(@theme-font, 12pt, 1);
            background-color: @background-secondary;
            text-align: center;
        }
    }
    >.menuBar {
        display: flex;
        .headingStyles(@theme-font, @base-font-size, 1);
        justify-content: space-evenly;
        align-items: center;
        @media (min-width: @break-width) {
            .gridplacement(2, 4, 1, 2);
        }
        >input {
            border-radius: 2em;
            width: 50%;
            border-color: blanchedalmond;
            background: $border-color;
            border-style: solid;
            @media (max-width: @break-width) {
                display: none;
            }
        }
        >.link:hover {
            font-size: @base-font-size*1.3;
            color: red;
        }
    }
    >.content1 {
        @media (min-width: @break-width) {
            .gridplacement(2, 4, 2, 3);
        }
        display: grid;
        font-family: cursive;
        grid-template-columns: 1fr 2fr;
        @media (max-width: @break-width) {
            grid-template-columns: 1fr;
            &:hover {
                grid-template-columns: 1fr 2fr;
            }
        }
        grid-template-rows: repeat(5, 1fr);
        >.body {
            display: none;
           
        }
        .gradientColoring(@color, @max, @count: 1) when(@count <=@max) {
            &:nth-child(@{max}n+@{count}) {
                background: linear-gradient(-35deg*@count/2, @color, white);
            }
            .gradientColoring(lighten(@color, 10%), @max, @count+2);
        }
        >.option {
            grid-column: 1; //Shnould have factored this into a .mixin that 
            //takes in 2 rulesets. 
            @media(min-width: @break-width) {
                .gradientColoring(darken(@background-primary, 20%), 12);
            }
            @media(max-width: @break-width) {
                .gradientColoring(darken(@background-secondary, 30%), 10);
            }
            &:hover+.body {
                display: block;
                 grid-column: 2;
                grid-row-start: 1;
                grid-row-end: 5;
            }
        }
    }
    .insertBefore(@class,@text) {
        @{class} {
            
            &::before {
                content: @text;
                font-weight: bold;
            }
        }
    }
    .content2 {
        @media( min-width: @break-width){
           overflow-y: scroll;
          .gridplacement(2,4,3,4);
        }
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        height: 25em;
        
        .heading{
            width: 100%;
            .headingStyles(@theme-font, @base-font-size, 1);
        }
        .summary{
            @media( min-width: @break-width){
               width: 20em;
            }
            height: 7em;
            padding: 0.5em;
            overflow-y: hidden;
            &:hover{
                overflow-y: scroll;
            }
        }
        @title : .title;  //hack, but there must be a better way to do this
        .insertBefore(@title ,"Title:");
        @summary : .synopsis;  //hack, but there must be a better way to do this
        .insertBefore(@summary ,"Synopsis:");
    }
}